@charset "utf-8";
/* sub 01 ---------------------------------------------------------- */

a {
	color : #666;
}

body.fixed {
	overflow : hidden;
}

#header {
	display : flex;
	padding : 0 5%;
	justify-content : space-between;
	align-items : center;
	position : fixed;
	top : 0;
	width : 100%;
	height : 60px;
	background-color : #fff;
	box-sizing : border-box;
	border-bottom : 1px solid #ccc;
	z-index : 2;
}

#header.active {
	background-color : #fff;
}

#logo {
	font-size : 1em;
}

.mobile {
	position : fixed;
	max-width : 600px;
	width : 100%;
	height : 100%;
	top :0;
	left : 0;
	background-color : #373737;
	margin-left : -100%;
	transition : margin-left 0.3s;
	z-index : 999;
	overflow : auto;
}

.mobile.active {
	margin : 0;
}

.mobile_head {
	display : flex;
	justify-content : space-between;
	align-items : center;
	position : relative;
	padding : 20px;
	background-color : #fff;
	border-bottom : 2px solid #ccc;
}

.mobile .login {
	text-align : right;
	background-color : #fff;
	padding-right : 20px;
}

.mobile .login ul li {
	display : inline-block;
	padding : 10px;
	font-size : 0.9em;
	line-height : 32px;
}

.mobile > ul {
	border-bottom : 2px solid #ccc;
}

.mobile > ul > li {
	font-weight : 500;
	position : relative;
}

.mobile > ul > li::after {
	content : '';
	display : block;
	position : absolute;
	left : 2%;
	bottom : -1px;
	width : 96%;
	height : 1px;
	background-color : #666;
}

.mobile > ul > li:last-child::after {
	display : none;
}

.mobile > ul > li > a {
	display : block;
	line-height : 3.75em;
	font-size : 1em;
	color : #fff;
	padding-left : 20px;
}

.mobile .add_btn {
	display : inline-block;
	overflow : hidden;
	width : 25px;
	height : 25px;
	position : absolute;
	top : 15px;
	right : 25px;
}

.mobile .add_btn img {
	position : absolute;
}

.mobile .add_btn.active img {
	top : -25px;
}

.mobile .depth {
	display : none;
	padding : 10px;
	background-color : #fff;
}

.mobile .depth li {
	padding-left : 30px;
}

.mobile .depth li a {
	font-size : 0.9em;
	line-height : 2.2em;
	color : #333;
}

.dim {
	display : none;
	position : fixed;
	left : 0;
	top : 0;
	right : 0;
	bottom : 0;
	z-index : 10;
	background-color : rgba(0,0,0,0.6);
	overflow : hidden;
}

.dim.active {
	display : block;
}

#phomein {
	margin-top : 60px;
}

#title {
	position : relative;
	font-size : 1em;
	display : flex;
	padding : 60px 30px 0;
	border-bottom : 1px solid #000;
}

#title.row { /* 가로보기 */
	justify-content : space-between;
}

#title.column { /* 세로보기 */
	flex-direction : column;
	align-items : center;
}

#title::before {
	content : '';
	display : block;
	position : absolute;
	left : 0;
	top : 140px;
	width : 0;
	height : 20px;
	background-color : #35573f;
	opacity : 0;
	transition : 2s;
}

#title.on::before {
	opacity : 1;
	width : 100%;
	transition-delay : 0.5s;
}

#title .inicial {
	background-color : #fff;
	padding : 10px;
	z-index : 1;
}

#title .inicial img {
	opacity : 0;
	transform : translatey(50px);
	transition : 2s;
}

#title.on .inicial img {
	opacity : 1;
	transform : translatey(0);
}

#title dl {
	text-align : right;
	color : #35573f;
}

#title dl dt {
	font-size : 1.3em;
	line-height : 100px;
	opacity : 0;
	transform : translatex(30px);
	transition : 1s;
}

#title dl dd {
	margin-top : 20px;
	font-size :0.8em;
	font-weight : 400;
	opacity : 0;
	transform : translatex(30px);
	transition : 1s;
	line-height : 3em;
}

#title.on dl dt {
	opacity : 1;
	transform : translatex(0);
	transition-delay : 1.5s;
}

#title.on dl dd {
	opacity : 1;
	transform : translatex(0);
	transition-delay : 2s;
}

#phomein .contents {
	margin-top : 50px;
	padding : 0 30px;
}

#phomein .contents dt {
	font-size : 1.2em;
	font-weight : 700;
	letter-spacing : 2px;
	margin-bottom : 20px;
}

#phomein .contents dd {
	font-size : 0.8em;
	line-height : 30px;
}

#footer {
	background-color : #000;
}

#footer .f_head {
	display : flex;
	justify-content : space-between;
	align-items : center;
	padding : 1em 2em;
	border-bottom : 1px solid #fff;
}

#footer .f_head .logo {
	transform : scale(0.9);
}

#footer .f_head .sns {
	display : flex;
}

#footer .f_head .sns.small {
	transform : scale(0.9);
}

#footer .f_head .sns li {
	margin-right : 20px;
}

#footer .f_head .sns li:last-child {
	margin : 0;
}

#footer .f_cont {
	padding : 1em 2em;
}

#footer .f_cont .family_site {
	text-align : center;
	position : relative;
	width : 10em;
	margin : 0 auto;
}

#footer .f_cont .family_site > a {
	display : inline-block;
	width : 100%;
	line-height : 2em; 
	color : #fff;
	font-size : 1em;
	font-weight : 700;
}

#footer .f_cont .family_site > a::after {
	content : '';
	display : inline-block;
	margin-left : 10px;
	width : 8px;
	height : 5px;
	background : url(../images/icon_arr_01.png) no-repeat;
	vertical-align : middle;
}

#footer .f_cont .family_site > a.active::after {
	transform : rotate(180deg);
}

#footer .f_cont .family_site ul {
	display : none;
	position : absolute;
	left : 5%;
	width : 90%;
	top : 100%;
	overflow : hidden;
	background-color : #fff;
}

#footer .f_cont .family_site ul a {
	display : inline-block;
	width : 100%;
	font-weight : 700;
	font-size : 0.9em;
	line-height : 2.2em;
}

#footer .f_cont .franchise {
	margin-top : 2em;
	color : #fff;
}

#footer .f_cont .franchise dt {
	font-size : 1.1em;
	font-weight : 500;
	margin-bottom : 10px;
}

#footer .f_cont .franchise dd ul {
	display : flex;
	flex-wrap : wrap;
	color : #ccc;
	font-weight : 300;
	font-size : 0.9em;
	letter-spacing : 0.5px;
}

#footer .f_cont .franchise dd ul li {
	position : relative;
	margin-right : 30px;
}

#footer .f_cont .franchise dd ul li a {
	color : #ccc;
}

#footer .f_cont .franchise dd ul li:last-child {
	margin : 0;
}

#footer .f_cont .franchise dd ul li::after {
	content : '';
	display : block;
	position : absolute;
	width : 1px;
	height : 0.6em;
	right : -15px;
	top : 0.5em;
	background-color : #666;
}

#footer .f_cont .franchise dd ul li:last-child::after {
	display : none;
}

#footer .f_cont .footer_menu {
	margin-top : 2em;
	display : flex;
	flex-wrap : wrap;
}

#footer .f_cont .footer_menu li {
	margin-right : 20px;
}

#footer .f_cont .footer_menu li:last-child {
	margin : 0;
}

#footer .f_cont .footer_menu a {
	color : #fff;
	font-weight : 300;
	font-size : 0.9em;
}

#footer .f_cont > span {
	color : #ccc;
	font-size : 0.6em;
	font-weight : 300;
}
