@charset "utf-8";

/* Rest CSS */
* {
	font-family: 'Nanum Gothic', sans-serif;
	margin : 0; padding : 0;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style-type: none;
}
<<<<<<< HEAD
=======
div {
	box-sizing: border-box;
}
>>>>>>> 94e10f466eb04ac72d5ac7047848737bb6fa712f
img {
	vertical-align: top;
	border: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration : none;
}